/* PasswordForm.css */
.password-form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: aliceblue;
  font-family: Tahoma;
}

.password-input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

input[type='password'],
input[type='text'] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
}

button:hover {
  background-color: #2c387e;
}

.password-strength {
  margin-top: 10px;
}

.password-strength p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.password-message {
  font-size: 14px;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .password-input {
    flex-direction: column;
  }

  input[type='password'],
  input[type='text'] {
    width: 100%;
  }
}